name: CI/CD Pipeline Diabetes

on: [push]

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 1. Install Dependencies
    # Kita install library yang dibutuhkan di lingkungan runner
    - name: Install Dependencies
      run: |
        pip install mlflow dagshub pandas scikit-learn joblib prometheus-client

    # 2. Run Training dengan MLflow Run (Sesuai Permintaan Reviewer)
    - name: Run Training with MLflow
      # --- BAGIAN PENTING: OPER TOKEN DARI SECRETS KE ENV ---
      env:
        DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        MLFLOW_TRACKING_USERNAME: GalihRasyid
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      # ------------------------------------------------------
      run: |
        # Masuk ke folder MLProject jika ada
        if [ -d "MLProject" ]; then
          cd MLProject
        fi
        
        # Jalankan perintah mlflow run
        # --env-manager=local artinya pakai python yang sudah kita install di atas
        mlflow run . --env-manager=local

    # 3. Upload Artifact Model
    - name: Upload Model Artifact
      uses: actions/upload-artifact@v4
      with:
        name: model-artifact
        path: '**/model.pkl'
        retention-days: 5